<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da Página</h1>
    <hr>

    
    Opa, tudo bem {{user.nome}} {{user.sobrenome}}? Você tem {{user.idade}} anos.
    {{#user.showWelcome}}
        Você é maior de idade
    {{/user.showWelcome}}

    <hr>

    <h2>Lista de Produtos Disponíveis</h2>
    {{! Loop em array que tem objetos }}
    <ul>
        {{#user.products}}
            <li> {{title}} - R$ {{price}} </li>
        {{/user.products}}
    </ul>
    <hr>

    <ul>

        {{#user.frases}}
            <li> {{.}} </li>
        {{/user.frases}}

    </ul>

</body>
</html>